Repository WNProject/WNFramework, changes with the labels that .github/labeler.yml gives for each.
All labels: c/c++, cmake, docker, documentation, github-actions

.github/labeler.yml:

c/c++:
  - '**/*.c'
  - '**/*.cpp'
  - '**/*.h'
  - '**/*.inl'
cmake:
  - '**/*.cmake'
  - '**/*.in'
  - '**/CMakeLists.txt'
docker:
  - '**/Dockerfile'
  - '**/.dockerignore'
documentation:
  - '**/*.md'
  - '**/LICENSE.*'
  - '**/LICENSE'
github-actions:
  - .github/workflows/*.yml
submodules:
  - any:
      - externals/*
    all:
      - '!externals/.patches/'
      - '!externals/CMakeLists.txt'
      - '!externals/librocket/'
      - '!externals/LICENSE.*'

Clean-up `.build-ignore` (#599)
  .build-ignore
  externals/librocket/CMakeLists.txt
  externals/librocket/README.md
Labels: cmake, documentation

Suppress warning
  Overlays/Posix/Overlays/Clang/Libraries/WNTestUtilities/CMakeLists.txt
Labels: cmake

Remove spurious `WN_LOW_RESOURCE_MODE` warning
  Libraries/WNScripting/CMakeLists.txt
  Overlays/Posix/Overlays/Clang/Libraries/WNTestUtilities/CMakeLists.txt
Labels: cmake

Clean-up license checks
  .build-ignore
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Switch file change gathering
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  Libraries/core/inc/utilities.h
  Libraries/core/test/src/type_traitsTests.cpp
  README.md
  documents/coding-conventions/c-cpp.md
Labels: c/c++, documentation, github-actions

Move shared workflows
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/shared/ci.yml
Labels: github-actions

Move shared
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Add re-usable GCS action
  .github/actions/set-up-sccache-gcs/action.yml
  .github/workflows/ci.yml
Labels: github-actions

Rename shared workflows to include `.shared-` prefix (#612)
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Remove spurious `WN_LOW_RESOURCE_MODE` warning (#608)
  Libraries/WNScripting/CMakeLists.txt
  Overlays/Posix/Overlays/Clang/Libraries/WNTestUtilities/CMakeLists.txt
Labels: cmake

Clean-up license checks
  .build-ignore
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Trigger format checks on CI workflow change
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
Labels: github-actions

Clean-up license checks
  .build-ignore
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Update for scripting some syntactic sugar for scripting.
  Libraries/WNScripting/inc/WNNodeTypes.h
  Libraries/WNScripting/lang/WNScriptAST.g
  Libraries/WNScripting/src/WNScriptAST.tokens
  Libraries/WNScripting/src/WNScriptASTLexer.cpp
  Libraries/WNScripting/src/WNScriptASTLexer.hpp
  Libraries/WNScripting/src/WNScriptASTParser.cpp
  Libraries/WNScripting/src/WNScriptASTParser.hpp
  Libraries/WNScripting/src/convert_expression_to_ast.cpp
  Libraries/WNScripting/src/convert_function_to_ast.cpp
  Libraries/WNScripting/test/filecheck/actor.wns
  Overlays/Windows/externals/CMakeLists.txt
  externals/.patches/rlottie.patch
  externals/CMakeLists.txt
Labels: c/c++, cmake

Update for scripting some syntactic sugar for scripting. (#627)
  Libraries/WNScripting/inc/WNNodeTypes.h
  Libraries/WNScripting/lang/WNScriptAST.g
  Libraries/WNScripting/src/WNScriptAST.tokens
  Libraries/WNScripting/src/WNScriptASTLexer.cpp
  Libraries/WNScripting/src/WNScriptASTLexer.hpp
  Libraries/WNScripting/src/WNScriptASTParser.cpp
  Libraries/WNScripting/src/WNScriptASTParser.hpp
  Libraries/WNScripting/src/convert_expression_to_ast.cpp
  Libraries/WNScripting/src/convert_function_to_ast.cpp
  Libraries/WNScripting/test/filecheck/actor.wns
  Overlays/Windows/externals/CMakeLists.txt
  externals/.patches/rlottie.patch
  externals/CMakeLists.txt
Labels: c/c++, cmake

Clean-up license checks (#600)
  .build-ignore
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

Some fixes for XCB support.
  Overlays/Posix/Overlays/GCC/externals/CMakeLists.txt
  Overlays/Posix/Overlays/Linux/Runtime/WNWindow/inc/WNXCBWindow.h
  Overlays/Posix/Overlays/Linux/Runtime/WNWindow/src/WNXCBWindow.cpp
  engine/renderer/inc/render_context.h
  engine/renderer/src/render_context.cpp
Labels: c/c++, cmake

Some fixes for XCB support. (#643)
  Overlays/Posix/Overlays/GCC/externals/CMakeLists.txt
  Overlays/Posix/Overlays/Linux/Runtime/WNWindow/inc/WNXCBWindow.h
  Overlays/Posix/Overlays/Linux/Runtime/WNWindow/src/WNXCBWindow.cpp
  engine/renderer/inc/render_context.h
  engine/renderer/src/render_context.cpp
Labels: c/c++, cmake

Turn on SCCACHE for llvm NATIVE tools
  Libraries/WNScripting/CMakeLists.txt
Labels: cmake

Turn on SCCACHE for llvm NATIVE tools (#663)
  Libraries/WNScripting/CMakeLists.txt
Labels: cmake

Fix
  externals/RmlUI.txt
Labels: none

Fix
  externals/RmlUI.txt
Labels: none

Switch file change gathering
  .github/workflows/.shared-ci.yml
  .github/workflows/pull-request.yml
  Libraries/core/inc/utilities.h
  Libraries/core/test/src/type_traitsTests.cpp
  README.md
  documents/coding-conventions/c-cpp.md
  externals/LICENSE.marl
  externals/LICENSE.mozilla
  test file.md
Labels: c/c++, documentation, github-actions

Delete .github/dependabot.yml for now
  .github/dependabot.yml
Labels: none

Delete .github/dependabot.yml for now (#906)
  .github/dependabot.yml
Labels: none
