Repository WNProject/WNFramework, pull requests merged in 2020-10, with the labels that each got.

#151 Run clang-format
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNDevice.cpp
  Runtime/WNGraphics/inc/WNDevice.h
  engine/renderer/inc/render_pass.h
Labels: clean-up

#156 Update LICENSE to match GitHub template
  LICENSE
Labels: documentation

#155 Update labels
  .github/labels.yml
Labels: documentation

#154 Move CODEOWNERS
  .github/CODEOWNERS
Labels: clean-up

#152 Add clang-format supported version
  documents/coding-conventions/cpp.md
Labels: documentation

#153 Add dependabot config
  .github/dependabot.yml
Labels: enhancement

#150 Add code format checking
  .github/workflows/format-checks.yml
Labels: enhancement

#160 Add ability to do automatic rebase
  .github/workflows/automatic-rebase.yml
Labels: enhancement

#158 Switch workflows to use 3 part version
  .github/workflows/format-checks.yml
  .github/workflows/sync-labels.yml
Labels: dependencies

#161 Fix graphics vulkan adapter
  Overlays/Vulkan/Runtime/WNGraphics/inc/Internal/Vulkan/WNAdapter.h
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNAdapter.cpp
Labels: bug

#163 Add missing override specifier
  Applications/demos/rocket_test/src/main.cpp
Labels: bug

#164 Fix template shadowing
  Libraries/WNScripting/inc/forward.h
Labels: bug

#165 Add automatic rebase feedback
  .github/workflows/automatic-rebase.yml
  .github/workflows/sync-labels.yml
Labels: enhancement

#157 Adjusted .gitignore
  .gitignore
Labels: bug

#149 Another large update for getting UI working in the engine.
  Applications/demos/rocket_test/CMakeLists.txt
  Applications/demos/rocket_test/assets/header.wns
  Applications/demos/rocket_test/assets/main.rml
  Applications/demos/rocket_test/src/main.cpp
  Applications/editor/assets/ui/header.wns
  Applications/editor/assets/ui/main.rcss
  Applications/editor/assets/ui/main.rml
  Applications/script_test_runner/src/WNScriptTestRunner.cpp
  Externals/librocket/CMakeLists.txt
  Externals/librocket/Include/Rocket/Core/Context.h
  Externals/librocket/Include/Rocket/Core/ReferenceCountable.h
  Externals/librocket/Source/Core/Context.cpp
  Externals/librocket/Source/Core/ElementDocument.cpp
  Libraries/WNScripting/inc/resource.h
  Libraries/WNScripting/src/WNCTranslator.cpp
  Libraries/WNScripting/src/WNJITEngine.cpp
  engine/ui/CMakeLists.txt
  engine/ui/inc/resource.h
  engine/ui/inc/ui_scripting_parser.h
  engine/ui/src/resource.cpp
  engine/ui/src/ui_scripting_parser.cpp
Labels: enhancement

#166 Switch access token being used
  .github/workflows/automatic-rebase.yml
Labels: bug

#173 Don't persist credentials for automatic rebase
  .github/workflows/automatic-rebase.yml
Labels: bug

#169 Enable submodule automatic updates
  .github/dependabot.yml
Labels: dependencies, enhancement

#172 Implement resizing in the engine.
  Applications/editor/main.wns
  Applications/editor/renderer/render_description.wns
  Applications/editor/renderer/rt_description.wns
  Libraries/WNScripting/inc/WNScriptHelpers.h
  Libraries/WNScripting/inc/forward.h
  Libraries/WNScripting/inc/type_manager.inl
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNSwapchain.cpp
  Overlays/Windows/Overlays/D3D12/Runtime/WNGraphics/src/D3D12/WNDevice.cpp
  Overlays/Windows/Runtime/WNWindow/inc/WNWindowsWindow.h
  Overlays/Windows/Runtime/WNWindow/src/WNWindowsWindow.cpp
  Runtime/WNGraphics/inc/WNDescriptors.h
  Runtime/WNGraphics/inc/WNFramebuffer.h
  Runtime/WNGraphics/inc/WNGraphicsPipeline.h
  Runtime/WNGraphics/inc/WNImageView.h
  Runtime/WNGraphics/inc/WNShaderModule.h
  engine/renderer/inc/render_context.h
  engine/renderer/inc/render_data.h
  engine/renderer/inc/render_pass.h
  engine/renderer/inc/render_target.h
  engine/renderer/src/render_context.cpp
  engine/renderer/src/render_pass.cpp
  engine/renderer/src/render_target.cpp
  engine/ui/inc/ui.h
  engine/ui/inc/ui_rocket_renderer.h
  engine/ui/src/ui.cpp
  engine/ui/src/ui_rocket_renderer.cpp
Labels: enhancement

#176 Adjust README badge label
  README.md
Labels: clean-up, documentation

#177 Textures Pt2.
  Applications/editor/assets/textures/gradient.png
  Applications/editor/assets/ui/gradient.wntex
  Applications/editor/assets/ui/main.rcss
  Applications/editor/assets/ui/test_texture.wntex
  Applications/editor/main.wns
  Libraries/WNScripting/inc/WNEngine.h
  Libraries/WNScripting/inc/WNEngine.inl
  Libraries/WNScripting/inc/forward.h
  Libraries/WNScripting/inc/type_manager.h
  engine/renderer/CMakeLists.txt
  engine/renderer/inc/render_context.h
  engine/renderer/inc/renderable_object.h
  engine/renderer/inc/temporary_objects.h
  engine/renderer/inc/texture.h
  engine/renderer/inc/texture_manager.h
  engine/renderer/src/render_context.cpp
  engine/renderer/src/texture.cpp
  engine/renderer/src/texture_manager.cpp
  engine/ui/inc/ui.h
  engine/ui/inc/ui_resources.h
  engine/ui/inc/ui_rocket_renderer.h
  engine/ui/src/ui.cpp
  engine/ui/src/ui_resources.cpp
  engine/ui/src/ui_rocket_renderer.cpp
  engine/ui/src/ui_scripting_parser.cpp
Labels: enhancement

#178 Fixes for linux build
  Applications/demos/rocket_test/src/main.cpp
  Libraries/WNContainers/inc/WNStringView.h
  Overlays/Posix/Libraries/WNFileSystem/src/WNSystemPaths.cpp
  Overlays/Posix/Libraries/WNFileSystem/src/WNSystemTempPath.cpp
  Overlays/Vulkan/Runtime/WNGraphics/inc/Internal/Vulkan/WNCommandList.h
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNAdapter.cpp
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNCommandList.cpp
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNDevice.cpp
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNHelpers.cpp
  Runtime/WNGraphics/inc/WNDescriptors.h
  Runtime/WNGraphics/src/WNDevice.cpp
  Runtime/WNGraphics/test/inc/WNPixelTestFixture.h
  Runtime/WNWindow/src/WNWindowFactory.cpp
  Runtime/networking/inc/routed_connection.h
Labels: bug

#182 Linux build fixes
  Libraries/WNCore/inc/types.h
  Libraries/WNScripting/inc/WNNodeTypes.h
  Libraries/WNScripting/inc/WNScriptHelpers.h
  Libraries/WNScripting/inc/ast_node_types.h
  Libraries/WNScripting/inc/forward.h
  Libraries/WNScripting/inc/internal/ast_convertor_context.h
  Libraries/WNScripting/src/conversion_helpers.cpp
  Libraries/WNScripting/src/convert_expression_to_ast.cpp
  Libraries/WNScripting/src/convert_parse_to_ast.cpp
  Libraries/WNScripting/src/convert_struct_to_ast.cpp
  Libraries/WNScripting/src/type_manager.cpp
  engine/renderer/inc/renderable_object.h
  engine/renderer/src/render_context.cpp
  engine/renderer/src/texture.cpp
  engine/ui/inc/ui_resources.h
  engine/ui/src/ui.cpp
Labels: clean-up

#183 Add log to rebase failure comment
  .github/workflows/automatic-rebase.yml
Labels: documentation

#188 Re-add nullptr_t definition
  Libraries/WNCore/inc/types.h
Labels: bug

#190 Remove more unneeded LLVM targets
  Libraries/WNScripting/CMakeLists.txt
Labels: clean-up, dependencies

#191 Wrap lines in automatic-rebase.yml
  .github/workflows/automatic-rebase.yml
Labels: clean-up

#193 Remove unneeded file
  clobber.txt
Labels: clean-up

#186 Fix android keyboard input.
  Overlays/Posix/Overlays/Android/Runtime/WNWindow/inc/WNAndroidWindow.h
  Overlays/Posix/Overlays/Android/Runtime/WNWindow/src/WNAndroidWindow.cpp
  Overlays/Posix/Overlays/Android/cmake/android_helpers/app/LibraryLoader.java.in
Labels: bug

#194 Switch to container for clang-format
  .github/workflows/format-checks.yml
Labels: clean-up

#195 Documentation clarifications
  README.md
Labels: documentation

#196 Add some options to facilitate SCCACHE usage on windows.
  CMakeLists.txt
  Libraries/WNContainers/test/src/WNStringTests.cpp
  Libraries/WNContainers/test/src/WNStringViewTests.cpp
  Libraries/WNScripting/CMakeLists.txt
  Overlays/Windows/cmake/build_options.cmake
  Overlays/Windows/cmake/externals.cmake
  Runtime/WNGraphics/inc/WNDevice.h
  Runtime/platform_utils/test/src/subprocessTests.cpp
Labels: enhancement

#199 Remove "Unix Makefiles" as a build generator
  .github/workflows/build.yml
Labels: clean-up

#200 Update documentation around Make
  README.md
Labels: documentation

#192 Add windows builds
  .github/workflows/build.yml
  .gitmodules
  Libraries/WNScripting/CMakeLists.txt
  Overlays/Vulkan/Runtime/WNGraphics/inc/Internal/Vulkan/WNDevice.h
  Overlays/Vulkan/Runtime/WNGraphics/src/Vulkan/WNDevice.cpp
  Overlays/Windows/Overlays/D3D12/Runtime/WNGraphics/inc/Internal/D3D12/WNDevice.h
  Overlays/Windows/Overlays/D3D12/Runtime/WNGraphics/src/D3D12/WNDevice.cpp
  Overlays/Windows/cmake/build_options.cmake
  Runtime/WNGraphics/inc/WNBuffer.h
  Runtime/WNGraphics/inc/WNDevice.h
  engine/renderer/inc/render_target.h
  engine/renderer/src/render_target.cpp
Labels: bug, clean-up, enhancement

#203 Add build badge to README
  README.md
Labels: documentation

#201 Document clarifications
  README.md
Labels: documentation

#209 Add msvc-16 builds
  .github/workflows/build.yml
Labels: enhancement

#210 Remove format checks for now
  .github/workflows/format-checks.yml
Labels: bug

#208 Fix rebase log link
  .github/workflows/automatic-rebase.yml
Labels: bug

#214 Correct android config instructions
  README.md
Labels: documentation

#216 Android fixes
  Overlays/Posix/Libraries/WNFileSystem/CMakeLists.txt
  Overlays/Posix/Overlays/Android/Libraries/WNScripting/CMakeLists.txt
Labels: bug

#218 Enable debug info for Windows docker containers
  .github/workflows/build.yml
Labels: bug

#221 Add WN_LOW_RESOURCE_MODE
  CMakeLists.txt
  Overlays/Windows/cmake/build_options.cmake
Labels: bug

#220 Fix link warning
  Overlays/Windows/cmake/build_options.cmake
  Runtime/WNGraphics/src/WNQueue.cpp
  Runtime/WNGraphics/src/WNSurface.cpp
Labels: clean-up

#226 Enable low resource mode
  .github/workflows/build.yml
Labels: bug

#219 Include xxhash using its cmake files
  Externals/CMakeLists.txt
  Libraries/WNTestUtilities/CMakeLists.txt
  Libraries/hashing/CMakeLists.txt
  Libraries/hashing/src/dummy.cpp
  Overlays/Posix/Libraries/WNTestUtilities/CMakeLists.txt
  Overlays/Windows/Libraries/hashing/CMakeLists.txt
  cmake/externals.cmake
Labels: clean-up

#223 Add xxhash to dependabot config
  .github/dependabot.yml
Labels: dependencies

#230 Rename builds
  .github/workflows/build.yml
Labels: bug

#229 Re-add formatting checks
  .github/workflows/build.yml
Labels: enhancement

#231 Rename builds again
  .github/workflows/build.yml
Labels: bug

#227 Pass through more linker options to llvm
  Libraries/WNScripting/CMakeLists.txt
Labels: clean-up

#222 Enable linker warnings as errors
  Overlays/Windows/cmake/build_options.cmake
Labels: clean-up
