Repository WNProject/WNFramework, pull requests merged in 2020-11, with the labels that each got.

#238 Rename rebase workflow
  .github/workflows/rebase.yml
Labels: clean-up

#239 Always report build details
  .github/workflows/build.yml
Labels: enhancement

#237 Add android builds
  .github/workflows/build.yml
  Overlays/Posix/Overlays/Android/Libraries/WNScripting/CMakeLists.txt
  Overlays/Posix/Overlays/Android/cmake/build_options.cmake
  Overlays/Posix/Overlays/Android/cmake/gradle_build.cmake
  Overlays/Posix/Overlays/Android/cmake/post_add.cmake
  Overlays/Posix/Overlays/Android/cmake/pre_add.cmake
Labels: enhancement

#242 Remove re2 wrapper
  Applications/script_test_runner/CMakeLists.txt
  Applications/script_test_runner/src/WNScriptTestRunner.cpp
  Externals/CMakeLists.txt
  Externals/re2_helper/re2/re2.h
  Overlays/Posix/Wrappers/WNRe2/CMakeLists.txt
  Overlays/Posix/Wrappers/WNRe2/inc/re2.h
  Overlays/Windows/Wrappers/WNRe2/CMakeLists.txt
  Overlays/Windows/Wrappers/WNRe2/inc/re2.h
  Wrappers/CMakeLists.txt
  Wrappers/WNRe2/CMakeLists.txt
  Wrappers/WNRe2/src/dummy.cpp
  engine/support/CMakeLists.txt
  engine/support/inc/regex.h
Labels: clean-up

#241 Remove duplicate 'to' from documentation
  README.md
Labels: documentation

#245 Clean-up wrappers
  Applications/CMakeLists.txt
  CMakeLists.txt
  Libraries/CMakeLists.txt
  Runtime/CMakeLists.txt
  Wrappers/CMakeLists.txt
  engine/CMakeLists.txt
  wrappers/CMakeLists.txt
  wrappers/stb/CMakeLists.txt
  wrappers/stb/src/stb_image.c
  wrappers/stb/src/stb_truetype.c
Labels: clean-up

#246 Remove unneeded clobber if needed file
  Utilities/clobber_if_needed.py
Labels: clean-up

#256 Rename Utilities to utilities
  cmake/targets.cmake
  utilities/StackParser.ps1
  utilities/compile_file_directory.py
  utilities/glx_test_wrapper.sh
Labels: clean-up

#243 Add *.inl files to format check
  .github/workflows/build.yml
  Libraries/WNLogging/inc/WNLog.inl
Labels: bug, clean-up

#259 Remove unneeded * in dependabot config
  .github/dependabot.yml
Labels: clean-up

#265 Remove windows build debug flag
  .github/workflows/build.yml
Labels: clean-up

#266 Remove x86/Win32 windows builds
  .github/workflows/build.yml
  README.md
Labels: clean-up

#262 Add REQUIRES_HARDWARE test labels and setup partial testing
  .github/workflows/build.yml
  Libraries/CMakeLists.txt
  Libraries/WNFileSystem/test/CMakeLists.txt
  Libraries/WNNetworking/test/src/Tests/WNBasicTests.cpp
  Overlays/MultiConfig/cmake/target_functions/post_add_test.cmake
  Overlays/Posix/Overlays/Android/cmake/application_test_wrapper.cmake
  Overlays/Posix/Overlays/Android/cmake/executable_test_wrapper.cmake
  Overlays/Posix/Overlays/Android/cmake/tests.cmake
  Runtime/CMakeLists.txt
  Runtime/WNGraphics/src/WNFactory.cpp
  Runtime/WNGraphics/test/CMakeLists.txt
  Runtime/WNWindow/test/CMakeLists.txt
  Runtime/cmake/application_test_wrapper.cmake
  Runtime/networking/test/CMakeLists.txt
  cmake/tests.cmake
Labels: clean-up

#271 Remove C++11 option
  Overlays/Posix/Overlays/Clang/cmake/build_options.cmake
Labels: clean-up

#272 Fix dependabot config
  .github/dependabot.yml
Labels: bug

#273 Fix dependabot config more
  .github/dependabot.yml
Labels: bug
