Repository WNProject/WNFramework, pull requests merged in 2022-01, with the labels that each got.

#409 Fix license auto update
  .github/workflows/update-license.yml
Labels: bug, auto

#412 Fix windows builds
  Overlays/Windows/cmake/externals.cmake
  externals/CMakeLists.txt
Labels: bug

#413 Update linux compilers and fix OOM issues
  .github/workflows/ci.yml
  Overlays/Posix/Overlays/GCC/cmake/build_options.cmake
  README.md
Labels: bug, enhancement, clean-up

#416 Re-enable linux sccache
  .github/workflows/ci.yml
Labels: enhancement, clean-up

#421 Minor document correction
  README.md
Labels: documentation

#419 Adjust dependabot and labels config
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: clean-up

#417 Add back sccache android
  .github/workflows/ci.yml
Labels: bug

#414 Fix for scripting engine.
  Libraries/WNScripting/inc/WNEngine.inl
  Libraries/WNScripting/inc/WNFactory.h
  Libraries/WNScripting/inc/WNScriptHelpers.h
  Libraries/WNScripting/inc/WNScriptTLS.h
  Libraries/WNScripting/src/WNFactory.cpp
  engine/engine/src/script_export.cpp
  engine/support/src/log.cpp
  engine/support/src/string.cpp
  engine/support/src/subprocess.cpp
  engine/ui/src/ui_scripting_event_instancer.cpp
Labels: bug

#420 Adjust auto license update
  .github/workflows/ci.yml
  .github/workflows/update-license.yml
Labels: clean-up
