Repository WNProject/WNFramework, pull requests merged in 2022-02, with the labels that each got.

#426 Minor config clean-up
  .build-ignore
  .markdownlint.yml
  .markdownlintrc
Labels: clean-up

#434 Fix for scripting engine.
  Libraries/WNContainers/inc/WNDeque.h
  Libraries/WNScripting/CMakeLists.txt
  Libraries/WNScripting/inc/WNNodeTypes.h
  Libraries/WNScripting/inc/ast_node_types.h
  Libraries/WNScripting/lang/WNScriptAST.g
  Libraries/WNScripting/src/WNJITEngine.cpp
  Libraries/WNScripting/src/WNScriptAST.tokens
  Libraries/WNScripting/src/WNScriptASTLexer.cpp
  Libraries/WNScripting/src/WNScriptASTLexer.hpp
  Libraries/WNScripting/src/WNScriptASTParser.cpp
  Libraries/WNScripting/src/WNScriptASTParser.hpp
  Libraries/WNScripting/src/c_compiler.cpp
  Libraries/WNScripting/src/convert_expression_to_ast.cpp
  Libraries/WNScripting/src/convert_statement_to_ast.cpp
  Libraries/WNScripting/src/convert_struct_to_ast.cpp
  Libraries/WNScripting/src/jit_compiler.cpp
  Libraries/WNScripting/test/filecheck/actor.wns
  applications/script_test_runner/src/WNScriptTestRunner.cpp
Labels: enhancement

#435 Minor fix to license updater
  .github/workflows/update-license.yml
Labels: bug, clean-up

#439 More license auto update adjustments
  .github/workflows/update-license.yml
Labels: bug, clean-up
